<h2>Post Create Component</h2>
<!-- one way is with mark # to get inpty and past this to function and inside class -->
<textarea rows="6" [value]="newPost" #postInput></textarea>
<hr />
<button (click)="onAddPost(postInput)">Save Post</button>
<p>{{ newPost }}</p>
<hr />
<hr />
<hr />

<!-- twho way binding need forms module -->
<mat-card>
  <mat-form-field>
    <textarea matInput rows="6" [(ngModel)]="enteredValue"></textarea>
  </mat-form-field>
  <button mat-raised-button color="accent" (click)="onAddPost2()">
    Save Post
  </button>
</mat-card>
<p>{{ newPost1 }}</p>
